[package]
name = "simple_ssh"
version = "0.1.2"
edition = "2021"

[[bin]]
name = "simple-ssh"
path = "src/bin/simple-ssh.rs"

[[bin]]
name = "simple-scp"
path = "src/bin/simple-scp.rs"

[profile.release]
lto = true
strip = true
opt-level = "z"

[profile.musl]
inherits = "release"
lto = true
strip = true
opt-level = "z"

[dependencies]
russh = "0.51.1"
russh-keys = "0.49.2"
tokio = { version = "1", features = ["full"] }
anyhow = "1.0.97"
log = "0.4.27"
env_logger = { version = "0.6", default-features = false }
shell-escape = "0.1"
termion = "4.0.4"
tokio-fd = "0.3.0"
clap = { version = "4.4", features = ["derive"] }
